.navigation {
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to right, #83a7b4, #097ca4);
  color: white;
  display: flex;
  position: relative;
}

.logout,
.help {
  float: right;
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: lighter;
  position: absolute;
  line-height: 3;
  font-family: inherit;
}

.logout {
  right: 20px;
}

.help {
  right: 100px;
}

.deleteItem {
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.addToDoSymbol,
.plus {
  font-size: 23px;
  background-image: linear-gradient(to right, #83a7b4, #097ca4);
  color: white;
  border: 1px solid black;
}

.addToDoSymbol {
  position: absolute;
  bottom: 6px;
}

.saveButton {
  background-image: linear-gradient(to right, #83a7b4, #097ca4);
  color: white;
  position: absolute;
  right: 25px;
  top: 2px;
  font-size: 14px;
}

.insertTitle,
.insertItem {
  font-size: 20px;
  width: 300px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.addList {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 400px;
}

.container {
  background-image: linear-gradient(to right, #83a7b4, #097ca4);
  color: white;
  font-family: "Quicksand", sans-serif;
}

.userName,
.password {
  font-size: 20px;
  height: 25px;
  width: 250px;
}

.credentials {
  position: absolute;
  top: 100px;
  right: 120px;
}

.signUp {
  text-decoration: none;
  font-weight: lighter;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  background-color: #43677d;
  padding-right: 30px;
  padding-left: 30px;
}

.login {
  font-size: 18px;
  background-color: #43677d;
  height: 4˝0px;
  color: white;
  position: absolute;
  top: 280px;
  right: 140px;
  width: 260px;
}

.toDoImg {
  background-image: url("../images/toDo.jpg");
  height: 60%;
  width: 60%;
  position: absolute;
  left: 15%;
  top: 70px;
  background-repeat: no-repeat;
  transform: rotate(-15deg);
}

td {
  padding: 20px;
  text-align: center;
}

.signUpDiv {
  position: absolute;
  top: 370px;
  right: 260px;
  font-size: 20px;
}

.signUpButton {
  font-size: 18px;
  background-color: #43677d;
  height: 40px;
  color: white;
  position: absolute;
  top: 350px;
  right: 140px;
  width: 260px;
}

.TODO {
  border: 1px solid black;
  margin-top: 2%;
  width: 30%;
  height: 30%;
  margin-left: 2%;
  border-radius: 5px;
  font-family: "Merienda", cursive;
  overflow: scroll;
  position: relative;
  background-image: linear-gradient(to right, #c0e3f0, #8edbf5);
  box-shadow: 3px 13px 12px 5px rgba(143, 141, 143, 1);
}

.TODOs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.title {
  border-bottom: 1px solid black;
  background-image: linear-gradient(to right, #c0e3f0, #31beec);
  font-weight: bold;
  height: 15%;
  margin: 0px;
  font-size: 20px;
  padding-left: 10px;
  width: 520px;
  word-wrap: break-word;
}

.description {
  margin: 10px;
  width: 420px;
  word-wrap: break-word;
}

.backToLogin {
  font-size: 18px;
  background-color: #43677d;
  height: 35px;
  color: white;
  position: absolute;
  top: 472px;
  right: 140px;
  width: 260px;
  padding-top: 2px;
  text-align: center;
}

.insertItem {
  margin-left: 4%;
}

.checkbox {
  position: absolute;
  right: 40px;
}

.delete {
  position: absolute;
  right: 2px;
}

.deleteToDo {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 23px;
  height: 20px;
}

.user {
  color: white;
  position: absolute;
  font-size: 18px;
  right: 160px;
  line-height: 3;
  font-weight: lighter;
  width: auto;
}

.task {
  width: 420px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.logout,
.help:focus {
  outline: none;
}

.errorMessage {
  position: absolute;
  top: 70%;
  right: 28%;
  color: red;
  font-size: 15px;
}

.existingUser {
  position: absolute;
  top: 455px;
  right: 285px;
}

.homeContainer {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
}

.notesHeading {
  color: red;
  line-height: 3;
  text-decoration: underline;
  margin-left: 9px;
  font-weight: lighter;
  font-size: 22px;
  color: inherit;
}

.items {
  margin-bottom: 10px;
}
